body {
    font-family: "Inconsolata";
    color: #fff;
    display: flex;
    justify-content: center;
    background: #0d0b0d url(svg/background.svg) repeat;
}

.main {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
}

.arcanum-text {
    text-align: center;
    font-size: 50px;
}

.arcanum-description {
    margin: auto;

    width: 276px;
    height: 84px;
    flex-shrink: 0;

    color: #FFF;

    text-align: center;
    leading-trim: both;

    text-edge: cap;
    font-family: Inconsolata;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    letter-spacing: 0.18px;

}

.buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-flow: row wrap;
}

.big-button {
    border-radius: 0.25rem;
    border: 1px solid #404040;
    background: #0C0A09;

    color: #fff;
    width: 150px;
    height: 40px;
}

.big-button:hover {
  background: #404040;
  cursor: pointer;
}

.arcanum-logo {
    height: 60px;
}

.buttons {
    display: flex;
}


.contacts {
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    flex-flow: row wrap;
    gap: 20px;
}

.contact-item {
    color: #9A9A9A;
    text-align: center;
    font-family: Inconsolata;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 105% */
    letter-spacing: -0.32px;
}

.contact-item:hover {
    color: #fff;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    flex-flow: row wrap;
    gap: 20px;
}

.navbar-separator {
    width: 1px;
    height: 30px;
    background-color: #535353;
}

.navbar-item {
    color: #fff;
    text-align: center;
    font-family: Inconsolata;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 105% */
    letter-spacing: -0.32px;
}

.navbar-item:hover {
    cursor: pointer;
}
