@font-face {
	font-family: "NAMU";
	src: url("/fonts/NAMU-1850.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "NAMU";
	src: url("/fonts/NAMU-1930.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
