---
import Layout from "../layouts/Layout.astro";
---

<script>
	const launch = document.querySelector("button.launch");
	const docs = document.querySelector("button.docs");
	
	launch?.addEventListener("click", () => {
		window.location.href = "https://app.arcanum.to";
	});
	docs?.addEventListener("click", () => {
		window.location.href = "https://docs.arcanum.to";
	});
</script>

<Layout page="/">
	<span class="font-droid whitespace-pre-line text-primary leading-[21px] xl:pt-12">Arcanum is a permissionless automated portfolio
		manager built upon a new crypto primitive - <a class="cursor-pointer" href="https://docs.arcanum.to/basics/asset-management"><span class="after:inline-block text-fill-brand-secondary bg-clip-text font-droid after:ml-1 after:*:fill-brand-secondary after:size-3 after:bg-[url(/icons/link.svg)]">Multipool</span></a>
	</span>

	<span class="font-droid whitespace-pre-line text-primary leading-[21px]">Multipool enables the creation of tokens fully backed 
		by existing on-chain assets, ensuring efficient 
		management through trading incentives. It allows 
		users to gain <span class="bg-layer-floor-5"> <span class="font-droid whitespace-pre-line bg-gradient-to-tl from-[#F37968] to-[#ED6486] bg-clip-text text-transparent">exposure to a diversified multi-asset 
			portfolio by contributing just a single asset</span> </span>
	</span>

	<div slot="actions" class="gap-4 flex flex-row *:border *:rounded-[1px] *:border-fill-secondary text-fill-brand-secondary font-droid">
		<button class="hover:bg-fill-secondary transition-colors launch w-[186px] bg-transparent h-[66px] after:size-3 after:bg-[url(/icons/link.svg)] after:inline-block after:ml-2">Launch app</button>
		<button class="hover:bg-fill-secondary transition-colors docs w-[135px] bg-transparent h-[66px] after:size-3 after:bg-[url(/icons/link.svg)] after:inline-block after:ml-2">Docs</button>
	</div>

	<span slot="footer" class="hidden second:block size-full text-primary font-namu font-semibold uppercase bg-[url(/footers/main.svg)] min-[1277px]:bg-[url(/footers/main_second.svg)] bg-left-bottom bg-no-repeat" />

	<div slot="footer">
		<div class="flex second:hidden flex-row gap-4 pb-10 w-[calc(100%-16px)] mx-auto">
			<button type="button" class="bg-transparent font-droid text-sm after:ml-1 after:text-brand-primary after:bg-no-repeat after:bg-bottom after:inline-block after:size-4 after:bg-[url(/icons/link.svg)] rounded-[2px] border-fill-secondary py-2 border text-brand-primary w-full">Launch app</button>
			<button type="button" class="bg-transparent font-droid text-sm after:ml-1 after:text-brand-primary after:bg-no-repeat after:bg-bottom after:inline-block after:size-4 after:bg-[url(/icons/link.svg)] rounded-[2px] border-fill-secondary py-2 border text-brand-primary w-full">Docs</button>		
		</div>
	</div>
</Layout>
