---
import GradientText from "../components/GradientText.astro";
import Layout from "../layouts/Layout.astro";
---

<script>
	// const launch = document.getElementById("launch");
	const docs = document.getElementById("docs");

	// launch?.addEventListener("click", () => {
	// 	window.location.href = "https://app.arcanum.to";
	// });
	docs?.addEventListener("click", () => {
		window.location.href = "https://docs.arcanum.to";
	});
</script>

<Layout page="/">
	<span
		class="tracking-[0.01em] text-sm font-droid whitespace-pre-line text-white leading-[18.2px] xl:pt-12"
		>Arcanum introduces a new crypto primitive <span>
			for a decentralized on-chain liquidity provision: <span>
				the <a
					class="cursor-pointer"
					href="https://docs.arcanum.to/overview/target-weight-market-maker"
					><span
						class="after:inline-block text-fill-brand-secondary bg-clip-text font-droid after:ml-1 after:*:fill-brand-secondary after:size-3 after:bg-[url(/icons/link.svg)]"
						>Target-Weight Market Maker</span
					></a
				></span
			>
		</span>
	</span>

	<p class="tracking-[0.01em] text-sm font-droid text-white leading-[18.2px]">
		TWMM <GradientText>enables liquidity pools</GradientText> that are significantly<br
		/>
		more capital-efficient and secure than traditional<br />
		AMMs. By <GradientText>utilizing oracles</GradientText> and a <GradientText
			>novel fee mechanism</GradientText
		><br />
		it ensures the <GradientText
			>best execution for large trades</GradientText
		> and<br />
		gives liquidity providers <GradientText
			>maximum capital control</GradientText
		>
	</p>

	<span
		slot="footer"
		class="hidden second:flex text-[50px] size-full main:text-[70px] text-primary font-namu font-semibold pt-4 uppercase flex-col leading-[100%]"
		>A New Era <span>for On-Chain Liquidity </span></span
	>

	<div slot="footer">
		<div
			class="flex second:hidden flex-row gap-4 pb-10 w-[calc(100%-16px)] mx-auto"
		>
			<button
				id="launch"
				type="button"
				class="opacity-50 bg-transparent font-droid text-sm after:ml-1 after:text-brand-primary after:bg-no-repeat after:bg-bottom after:inline-block after:size-4 after:bg-[url(/icons/link.svg)] rounded-[2px] border-fill-secondary py-2 border text-brand-primary w-full"
				>Launch app</button
			>
			<button
				id="docs"
				type="button"
				class="bg-transparent font-droid text-sm after:ml-1 after:text-brand-primary after:bg-no-repeat after:bg-bottom after:inline-block after:size-4 after:bg-[url(/icons/link.svg)] rounded-[2px] border-fill-secondary py-2 border text-brand-primary w-full"
				>Docs</button
			>
		</div>
	</div>
</Layout>
