---
import Layout from "../layouts/Layout.astro";
---

<Layout page="manager">
	<span class="font-droid whitespace-pre-line text-primary leading-[21px] xl:pt-12">Arcanum decoupled liquidity management into three key 
		components: <span class="bg-layer-floor-5"><span class="font-droid whitespace-pre-line bg-gradient-to-tl from-[#F37968] to-[#ED6486] bg-clip-text text-transparent">liquidity provision, strategy management, 
			and strategy execution</span> </span>
	</span>

	<span class="font-droid whitespace-pre-line text-primary leading-[21px]">This approach allows users to allocate funds 
		to a variety of strategies designed by professionals. 
		Strategy managers can focus on selecting asset 
		allocations, while traders help rebalance pools 
		and earn incentives for their contributions
	</span>

	<span slot="footer" class="size-full text-primary font-namu font-semibold uppercase text-nowrap bg-[url(/footers/manager.svg)] min-[1277px]:bg-[url(/footers/manager_second.svg)] bg-left-bottom bg-no-repeat" />
</Layout>
