---
import Layout from "../layouts/Layout.astro";
import GradientText from "../components/GradientText.astro";
---

<Layout page="revenueToken">
	<p
		class="tracking-[0.01em] text-sm font-droid text-white leading-[18.2px] xl:pt-12"
	>
		Arcanum <GradientText
			>redesigned tokenomics from the ground up</GradientText
		>.<br />
		The protocol revenue token, $AAA, captures 100% <br />
		of protocol revenue, which is used to build its <br />
		intrinsic value and create a permanent price floor
	</p>

	<p class="tracking-[0.01em] text-sm font-droid text-white leading-[18.2px]">
		This creates a <GradientText>sustainable ecosystem</GradientText>.
		Liquidity is<br />
		of the treasury's assets. This directly links the <br />
		token's value to the protocol's performance, ensuring <br />
		our goals are always aligned with our token holders
	</p>

	<span
		slot="footer"
		class="size-full text-primary font-namu font-semibold uppercase text-nowrap bg-[url(/footers/aaa.svg)] min-[1277px]:bg-[url(/footers/aaa_second.svg)] bg-left-bottom bg-no-repeat"
	></span>
</Layout>
