<footer class="w-full flex-none hidden second:block second:min-h-[172px] main:min-h-[197px] *:border-t-[1px] *:border-fill-secondary bg-layer-floor-0 font-droid text-fill-tetrary text-right overflow-hidden">
    <div class="flex flex-row w-full overflow-clip gap-6 pr-6">
        <span class="max-w-full text-right text-nowrap text-clip overflow-hidden">///////// .- .-. -.-. .- -. ..- -- ///////// ////////////////////////////////////////////////////////////////////// ///////// .- .-. -.-. .- -. ..- -- //////////////////////// ////////////////////////////////////////////////////////// .- .-. -.-. .- -. ..- -- ///////// ////////////////////////////////////////////////////////////////////// ///////// .- .-. -.-. .- -. ..- -- //////////////////////// ////////////////////////////////////////////////////////// .- .-. -.-. .- -. ..- -- ///////// ////////////////////////////////////////////////////////////////////// ///////// .- .-. -.-. .- -. ..- -- //////////////////////// ///////////////////////////////////////////////// ///////// .- .-. -.-. .- -. ..- -- ///////// ////////////////////////////////////////////////////////////////////// ///////// .- .-. -.-. .- -. ..- -- //////////////////////// /////////////////////////////////////////////////</span> 
        <a class="text-primary font-droid" href="mailto:info@arcanum.to">info@arcanum.to</a>
    </div>
    <div class="text-left flex flex-col justify-end px-6 pb-2 second:h-[147px] main:h-[172px]">
        <slot/>
    </div>
</footer>