<footer class="w-full flex-none second:min-h-[172px] main:min-h-[197px] second:*:border-t-[1px] *:border-fill-secondary bg-layer-floor-0 font-droid text-fill-tetrary text-right overflow-hidden">
    <div class="flex-row w-full overflow-clip gap-6 pr-6 hidden second:flex max-h-[25px]">
        <span title="morse code" class="max-w-full text-right text-nowrap text-clip overflow-hidden">///////// .- .-. -.-. .- -. ..- -- ///////// ////////////////////////////////////////////////////////////////////// ///////// .- .-. -.-. .- -. ..- -- //////////////////////// ////////////////////////////////////////////////////////// .- .-. -.-. .- -. ..- -- ///////// ////////////////////////////////////////////////////////////////////// ///////// .- .-. -.-. .- -. ..- -- //////////////////////// ////////////////////////////////////////////////////////// .- .-. -.-. .- -. ..- -- ///////// ////////////////////////////////////////////////////////////////////// ///////// .- .-. -.-. .- -. ..- -- //////////////////////// ///////////////////////////////////////////////// ///////// .- .-. -.-. .- -. ..- -- ///////// ////////////////////////////////////////////////////////////////////// ///////// .- .-. -.-. .- -. ..- -- //////////////////////// /////////////////////////////////////////////////</span> 
        <a class="text-primary font-droid" href="mailto:info@arcanum.to">info@arcanum.to</a>
    </div>
    <div class="text-left flex-col hidden second:flex justify-end second:px-6 second:pb-6 h-[96px] second:h-[147px] main:h-[172px]">
        <slot/>
    </div>
</footer>