---
const { path } = Astro.props;
---

<header class="flex flex-col flex-none items-center second:items-stretch second:flex-row second:h-[72px] w-full bg-layer-floor-0 *:first:border-l-0 second:*:border *:border-fill-secondary">
    <div class="w-full bg-[length:90px_48px] min-h-[52px] second:mt-0 mt-8 second:max-w-[93px] main:max-w-[138px] second:h-full bg-[url(/clear-logo.svg)] bg-no-repeat bg-center second:bg-[length:45px_24px] main:bg-[length:90px_48px]" />
    <div class="w-full bg-[length:121px_38px] min-h-[38px] second:mt-0 mt-5 second:max-w-[124px] main:max-w-[169px] h-full bg-[url(/APLabel.svg)] bg-no-repeat bg-center second:bg-[length:76.42px_24px] main:bg-[length:121px_38px]" />
    <div class="hidden second:flex flex-row items-center justify-start w-full px-6 space-x-8">
        <a data-selected={path == "/"} href="/" class="data-[selected=true]:text-primary text-nowrap transition-colors text-tertiary hover:text-primary font-droid">General</a>
        <a data-selected={path == "manager"} href="/manager" class="data-[selected=true]:text-primary text-nowrap transition-colors text-tertiary hover:text-primary font-droid">Portfolio manager</a>
        <a data-selected={path == "arev"} href="/arev" class="data-[selected=true]:text-primary text-nowrap transition-colors text-tertiary hover:text-primary font-droid">Revenue token</a>
        <a data-selected={path == "use"} href="/use" class="data-[selected=true]:text-primary text-nowrap transition-colors text-tertiary hover:text-primary font-droid">How to use</a>
    </div>
    <div class="grid second:mx-0 second:max-w-[72px] w-[calc(100%-16px)] mt-6 second:m-0 grid-cols-4 second:grid-cols-2 second:grid-rows-2 min-w-[72px] min-h-[40px] second:min-h-[72px] gap-px bg-fill-secondary p-px second:p-0 second:*:h-full">
        <a rel="external dns-prefetch" target="_blank" href="https://t.me/+jBzcrYBvgDY3ZTI6" class="size-full bg-layer-floor-0 bg-no-repeat bg-center bg-[url(/3d-party-logos/telegram.svg)] cursor-pointer transition-colors hover:bg-fill-secondary" />
        <a rel="external dns-prefetch" target="_blank" href="https://x.com/0xArcanum" class="size-full bg-layer-floor-0 bg-no-repeat bg-center bg-[url(/3d-party-logos/twitter.svg)] cursor-pointer transition-colors hover:bg-fill-secondary" />
        <a rel="external dns-prefetch" target="_blank" href="https://discord.gg/Fdeg93TFcs" class="size-full bg-layer-floor-0 bg-no-repeat bg-center bg-[url(/3d-party-logos/discord.svg)] cursor-pointer transition-colors hover:bg-fill-secondary" />
        <a rel="external dns-prefetch" target="_blank" href="https://github.com/arcanum-protocol" class="size-full bg-layer-floor-0 bg-no-repeat bg-center bg-[url(/3d-party-logos/github.svg)] cursor-pointer transition-colors hover:bg-fill-secondary" />
    </div>
    <div class="min-w-[110px] hidden main:block">
        <a href="https://docs.arcanum.to/" class="flex flex-row items-center justify-center w-full h-full bg-fill-primary transition-colors text-fill-brand-secondary bg-clip-text font-droid after:ml-1 after:text-fill-brand-secondary after:size-3 after:bg-[url(/icons/link.svg)]">Docs</a>
    </div>
    <div class="min-w-[161px] hidden main:block">
        <a href="https://app.arcanum.to/" class="flex flex-row items-center justify-center w-full h-full bg-fill-primary transition-colors text-fill-brand-secondary bg-clip-text font-droid after:ml-1 after:text-fill-brand-secondary after:size-3 after:bg-[url(/icons/link.svg)]">Launch app</a>
    </div>
</header>
