---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { ClientRouter } from "astro:transitions";
import GradientText from "../components/GradientText.astro";

const currentPage = Astro.props.page;
---

<!doctype html>
<html lang="en" class="selection:bg-[#0148fe] selection:text-white">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="icon"
			type="image/png"
			href="/favicon-96x96.png"
			sizes="96x96"
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<meta name="apple-mobile-web-app-title" content="MyWebSite" />
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://use.typekit.net/ona7xhd.css" />
		<link rel="stylesheet" href="/global.css" />
		<ClientRouter />
		<title>Arcanum</title>
	</head>
	<body
		class="bg-layer-floor-0 size-full h-svh flex flex-col justify-between"
	>
		<Header path={currentPage} />
		<div
			class="hidden second:flex overflow-auto pl-[217px] main:pl-[307px] pt-8 gap-11 flex-1 flex-col justify-evenly second:justify-start size-full second:bg-[url(/bgs/bg.svg)] bg-contain bg-no-repeat bg-right"
		>
			<slot />
			<slot name="actions" />
		</div>
		<div class="block second:hidden size-full overflow-auto my-2">
			<div
				class="size-full px-2 flex flex-col gap-2 pt-5 *:rounded-[1px] *:p-4"
			>
				<div class="flex flex-col gap-4 max-w-[360px] w-full mx-auto">
					<p
						class="w-full text-primary text-[40px] font-namu uppercase font-semibold leading-[100%]"
					>
						A New Era <br />for On-Chain Liquidity
					</p>
					<p
						class="text-sm font-droid whitespace-pre-line text-primary leading-[19px]"
					>
						Arcanum introduces a new crypto <br /> primitive for a decentralized
						on-chain liquidity provision: the <a
							class="cursor-pointer"
							href="https://docs.arcanum.to/basics/asset-management"
							><span
								class="after:inline-block text-fill-brand-secondary bg-clip-text font-droid after:ml-1 after:*:fill-brand-secondary after:size-3 after:bg-[url(/icons/link.svg)]"
								>Target-Weight Market Maker</span
							></a
						>
					</p>

					<p class="text-sm font-droid text-primary leading-[19px]">
						TWMM <GradientText>enables liquidity pools</GradientText
						> that are significantly more capital-efficient and secure
						than traditional AMMs.<br /> By <GradientText
							>utilizing oracles</GradientText
						> and a <GradientText>novel fee </GradientText>
						<GradientText>mechanism</GradientText>
						it ensures the <GradientText>best </GradientText>
						<GradientText>execution for large trades</GradientText> and
						gives liquidity providers <GradientText
							>maximum capital</GradientText
						><GradientText> control</GradientText>
					</p>
				</div>

				<div class="flex flex-col gap-4 max-w-[344px] w-full mx-auto">
					<p
						class="w-full text-primary text-[37px] font-namu uppercase font-semibold leading-[100%] whitespace-nowrap"
					>
						Target Weight<br /> Market Maker
					</p>
					<p class="text-sm font-droid text-primary leading-[19px]">
						The Target-Weight Market Maker (TWMM) <GradientText
							>manages multi-asset liquidity
						</GradientText>
						<GradientText>in a vault structure</GradientText>. A
						manager sets a "Target Weight" for each asset to define
						the pool's ideal balance
					</p>
					<p class="text-sm font-droid text-primary leading-[19px]">
						A <GradientText>dynamic fee system</GradientText> then penalizes
						trades that increase imbalance and rewards trades that correct
						it. This mechanism <GradientText
							>mitigates Loss-Versus-</GradientText
						><GradientText>Rebalancing</GradientText>
						(LVR) and <GradientText>reframes</GradientText><br
						/><GradientText>Impermanent Loss</GradientText> into a manageable<br
						/>
						part of a portfolio strategy
					</p>
				</div>

				<div class="flex flex-col gap-4 max-w-[344px] w-full mx-auto">
					<div
						class="w-full h-[101px] bg-[url(/mobile/aaa.svg)] bg-no-repeat bg-contain"
					>
					</div>

					<p class="text-sm font-droid text-primary leading-[19px]">
						Arcanum <GradientText
							>redesigned tokenomics from</GradientText
						>
						<GradientText> the ground up</GradientText>. The
						protocol revenue token, $AAA, captures 100% of protocol
						revenue, which is used to build its intrinsic value and
						create a permanent price floor
					</p>

					<p class="text-sm font-droid text-primary leading-[19px]">
						This creates a <GradientText
							>sustainable ecosystem</GradientText
						>. Liquidity is of the treasury's assets. This directly
						links the token's value to the protocol's performance,
						ensuring our goals are always aligned with our token
						holders
					</p>
				</div>
			</div>
		</div>
		<Footer>
			<slot name="footer" />
		</Footer>
	</body>
</html>
